.color {
  color: #bfcfe7;
}
.search {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: #2b2730;
  color: white !important;
  border: 0;
}

.z-index {
  z-index: 9999 !important;
}
