<div class="row m-0 h-100">
  <div class="col-3 row m-0 p-0 scrollable" style="height: min-content">
    <div class="p-4 pt-3 pb-3" style="border-bottom: 2px solid #3d3b40">
      <p class="fs-5 mb-0 text-white" style="letter-spacing: 2px; font-weight: 530;">
        Messages
      </p>
    </div>
    <div class="p-3 pt-2 pb-2">
      <form
        class="d-flex"
        #userForm="ngForm"
        (ngSubmit)="search(userForm.value)"
      >
        <input
          type="search"
          ngModel
          #name="ngModel"
          name="name"
          placeholder="search here..."
          class="form-control p-3 pt-1 pb-1 m-0 text-white"
          style="background-color: #3d3b40; border: 0; border-radius: 10px"
        />
      </form>
    </div>
    <div *ngFor="let message of searchResults; let i = index">
      <div
        class="d-flex p-2 pt-3"
        style="border-bottom: 2px solid #3d3b40"
        *ngIf="message.senderId._id == user._id"
        routerLink="/messages/{{ message.chatId }}"
        (click)="openChat(i)"
      >
        <div>
          <div class="profile">
            <img
              *ngIf="message.receiverId.profile"
              [src]="'data:image/jpg;base64,' + message.receiverId.profile"
              [alt]="message.receiverId.firstName[0]"
            />
            <span *ngIf="!message.receiverId.profile">{{
              message.receiverId.firstName[0]
            }}</span>
          </div>
        </div>
        <div class="flex-grow-1" style="margin-left: 15px">
          <div class="text-white d-flex justify-content-between">
            <p class="mb-2 fs-6">
              {{
                message.receiverId.firstName + " " + message.receiverId.lastName
              }}
            </p>
            <mat-icon
              *ngIf="message.senderId._id === user._id"
              style="
                width: 21px;
                height: 21px;
                border-radius: 50%;
                text-align: center;
                line-height: 21px;
                font-size: 20px;
                font-weight: bolder;
              "
              [ngStyle]="{
                color: message.isRead ? 'white' : 'black',
                'background-color': message.isRead ? '#525ceb' : 'silver'
              }"
              >check</mat-icon
            >
          </div>
          <div class="mt-0 mb-0 text-white d-flex justify-content-between">
            <small
              style="
                color: lightgray;
                width: 70%;
                height: 17px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
              "
            >
              {{ message.senderId._id === user._id ? "You: " : "" }}
              {{ message.content }}
            </small>
            <small style="color: lightgray; width: fit-content">{{
              formattedDate(message.createdAt)
            }}</small>
          </div>
        </div>
      </div>
      <div
        class="d-flex p-2 pt-3"
        style="border-bottom: 2px solid #3d3b40"
        *ngIf="message.receiverId._id == user._id"
        routerLink="/messages/{{ message.chatId }}"
        (click)="openChat(i)"
      >
        <div class="">
          <div class="profile">
            <img
              *ngIf="message.senderId.profile"
              [src]="'data:image/jpg;base64,' + message.senderId.profile"
              [alt]="message.senderId.firstName[0]"
            />
            <span *ngIf="!message.senderId.profile">{{
              message.senderId.firstName[0]
            }}</span>
          </div>
        </div>
        <div class="flex-grow-1" style="margin-left: 15px">
          <div class="text-white d-flex justify-content-between">
            <p class="mb-2 fs-6">
              {{ message.senderId.firstName + " " + message.senderId.lastName }}
            </p>
            <p
              class="mb-2"
              *ngIf="
                message.messagesNumber && message.receiverId._id == user._id
              "
              style="
                color: white;
                width: 21px;
                height: 21px;
                background-color: #525ceb;
                border-radius: 50%;
                text-align: center;
                line-height: 21px;
                font-size: 13px;
              "
            >
              {{ message.messagesNumber }}
            </p>
          </div>
          <div class="mt-0 mb-0 text-white d-flex justify-content-between">
            <small
              style="
                color: lightgray;
                width: 70%;
                height: 17px;
                overflow: hidden;
                text-overflow: ellipsis;
                font-size: 14px;
              "
            >
              {{ message.content }}</small
            >
            <small style="color: lightgray">{{
              formattedDate(message.createdAt)
            }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="col-9 position-relative h-100 p-4 pt-0 pb-0"
    style="
      border-left: 2px solid rgba(192, 192, 192, 0.3);
      background-color: #3d3b40;
    "
  >
    <app-message
      *ngIf="id != 'all'"
      [id]="id"
      (messageEvent)="handleMessage($event)"
    ></app-message>
    <div
      *ngIf="id == 'all'"
      class="position-absolute top-50 start-50 translate-middle"
      style="width: fit-content; z-index: 0;"
    >
      <img [src]="logo" style="width: 350px; height: 350px" alt="" />
      <p
        class="text-white fs-2 text-center"
        style="letter-spacing: 4px; list-style-type: armenian;"
      >
        TalkNet
      </p>
    </div>
  </div>
</div>
