.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.code {
  font-size: 20px;
  height: 60px;
  width: 60px;
  border: 0;
  border-bottom: 2px solid #525ceb;
  background-color: #3d3b40;
  text-align: center;
  font-weight: 400;
  color: white;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:valid {
  border-color: #3498db;
  box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info {
  background-color: #eaeaea;
  display: inline-block;
  padding: 10px;
  line-height: 20px;
  max-width: 400px;
  color: #777;
  border-radius: 5px;
}

@media (max-width: 800px) {
  .code-container {
    flex-wrap: wrap;
  }

  .code {
    font-size: 60px;
    height: 80px;
    max-width: 70px;
  }
}

.form-control {
  background-color: transparent;
  border-radius: 0;
  border: 0;
  border-bottom: 2px solid #525ceb;
}
