/* You can add global styles to this file, and also import other style files */

.bg {
  background-color: #3d3b40;
  height: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}

input::placeholder {
  color: silver !important;
  font-size: 14px;
  letter-spacing: 1.5px;
}
textarea::placeholder {
  color: silver !important;
  font-size: 15px;
  letter-spacing: 1.5px;
}
input:focus {
  outline: none;
}

.scrollable {
  overflow-y: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: #BFCFE7 #3D3B40;
  scroll-snap-type: y mandatory; /* Enable vertical scrolling and snapping */
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  background-color: rgb(252, 120, 106);
  position: relative;
  overflow: hidden;
}

.profile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile span {
  position: absolute;
  color: #fff;
}

.alert {
  border-radius: 0px;
}
